<!DOCTYPE html>
<html lang="en" ng-app="spotifyExportApp">
<head>
    <meta charset="UTF-8">
    <title>Spotify Playlist Export Helper</title>

    <!--- Bootstrap --->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular -->

    <script src="node_modules/angular/angular.js"></script>

    <!-- Rx -->

    <script src="node_modules/rx/dist/rx.all.js"></script>
    <script src="node_modules/rx-angular/dist/rx.angular.js"></script>

    <!-- App -->

    <script src="app.js"></script>

</head>
<body>

<div class="container" ng-controller="spotifyExportController as controller">

    <h1>Spotify Playlist Export Helper</h1>

    <ul>
        <li>Select all track in Spotify that you want to export</li>
        <li>Copy the tracks (ctrl-c)</li>
        <li>Paste the tracks below:</li>
    </ul>

    <form>

        <div class="form-group">
            <label for="trackListInput">Track list {{controller.importCount}}</label>
            <textarea
                    class="form-control"
                    id="trackListInput"
                    placeholder="Paste tracks here..."
                    rows="10"
                    ng-model="controller.importList"
            ></textarea>
        </div>

        <div class="form-group">
            <label for="trackListResults">
                Results {{controller.resultCount}}
                <span ng-if="controller.errorCount">Errors {{controller.errorCount}}</span>
            </label>
            <textarea
                    class="form-control"
                    id="trackListResults"
                    rows="10"
                    ng-model="controller.exportList"
                    readonly
            ></textarea>
        </div>

    </form>

</div>

</body>
</html>